<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel='stylesheet' href='/stylesheets/home.css' />




</head>
<body>
<div class="header">
<nav class="main-menu">
          
           <ul class="nav pull-left">
               <li class="active"><a href="/"><h3>Welcome to shareout</h3></a></li>
        </ul>
           <ul class="auth-nav nav pull-right">
               <li class="auth-nav-sign-in"><a href="/users/sign_in"><h3>Sign In</h3></a></li>
               <li class="auth-nav-sign-up"><a href="/users/sign_up"><h3>Sign Up</h3></a></li>
            </ul>
<div class="clearfix"></div>
</nav>
           </div>
<div class="top" style="box-shadow: none">

<h1>
<img alt="logo" class="envelope" src="/images/share.jpg" height="181" width="263">
     <h1> Share bills and expenses with friends and flatmates.<br> <strong>ShareOut</strong> helps you manage what's to be paid,<br> when it's due, and who owes it!!!</h1>
	  </h1>
                 </div>

<br>
<div style="padding-left: 0px;" id="captioned-gallery">
<figure class="slider">
<figure>
<img src="/images/bill.png" alt="">
<h1> <i>Sharing bills &amp; expenses? </i></h1>
                   <p><i>Frequently paying for your roomates or friends?<br>Fed up with always calculating who owes what?<br><span class="kicker">Keep a running tab between you and your friends!</span> </i></p>

</figure>
<figure>
<img src="/images/postits.png" alt="">
<h1><i> NO more awkward post-its!</i> </h1>
	<p><i>Monthly bills a conversation killer?<br><span class="kicker">Now remind your "forgetful" friends &amp; flatmates with regular automatic email alerts.</span></i></p>
                    

</figure>
<figure>
<img src="/images/mates.png" alt="">
<h1><i>Living with your roommates?</i></h1>
                <p><i>Whether it's bills, or just daily expenses, <strong>Shareout.pw</strong> deals with all the hassles &amp; calculations<br><span class="kicker">while you sit back and relax!</span></i></p>

</figure>
<figure>
<img src="/images/bill.jpg" alt="">
<h1><i>Friendly email reminders!!</i></h1>
                <p><i>Get notified* when you, <strong>forget </strong> to pay some one.</i></p>

</figure>


</figure>
</div>
</br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div >
<!-- id="container" -->
	<p class="featureText">
                 So what's next Sign up now &amp; enjoy our amazing <strong> "ShareOut"</strong> service!! </p>
     <div id="signInNow" align="center">
         <a href="/users/sign_up" class="getStarted"> <h2 style="color: #FFA500;">Sign up now!! </h2></a>
		</div>
  </div>

<div class="content">
		<div class="cols">
			<div class="col3">
				<h2>Students &amp; Houseshares</h2>
				<img src="/images/students.jpg">
				<ul class="checks">
					<li>Utility &amp; Household Bills</li>
					<li>Rent &amp; Mortage Payments</li>
					<li>Online Groceries &amp; Shopping</li>
				</ul>
			</div>
			<div class="col3">
				<h2>Group Expenses</h2>
				<img src="/images/park.jpg">
				<ul class="checks">
					<li>Takeaways &amp; Drinks</li>
					<li>Gig &amp; Theatre Tickets</li>
					<li>Dry Cleaning &amp; Maid Services</li>
				</ul>
			</div>
			<div class="col3">
				<h2>Party, Trips &amp; more!</h2>
				<img src="/images/party.jpg">
				<ul class="checks">
					<li>Parties &amp; Clubs</li>
					<li>Camping Trips &amp; Holidays</li>
					<li>Personal IOUs &amp; more ...</li>
				</ul>
			</div>
			<br class="clear">
		</div>

		<div class="action">
					<p>We've shared <strong>$3,567.00</strong> in bills, expenses and IOU's so far! </p> 
		</div>
	</div>
<div class="bottom">
      <p class="text">
                 ShareOut is a complete <strong>end-to-end solution</strong> that makes <strong>share</strong> your bills and expenses easily,<br><strong> and keep track of </strong>your bills &amp; <strong>pay</strong> your dues <strong>easily</strong>!</p>
    <div id="signUpNow" align="center">
				
		</div>
</div>

  <div class="footer">
              <p class="wrap">
        
          <a href="file:///C:/Users/vimala/Desktop/pro1/Home.html">Home</a>|
          <a href="file:///C:/Users/vimala/Desktop/pro1/Home.html">About</a>|
          <a href="file:///C:/Users/vimala/Desktop/pro1/privacy.html">Privacy</a>|
          <a href="file:///C:/Users/vimala/Desktop/pro1/terms.html">Terms</a>
        
        
</p>
<p>ShareOut.pw © 2015-2018. All Rights Reserved.</p>
        
              </div>
        
    


</body></html>